USE [scrm]
GO
/****** Object:  Table [dbo].[agentinfo]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agentinfo](
	[ColId] [int] IDENTITY(1,1) NOT NULL,
	[AgentID] [int] NOT NULL,
	[AgentName] [nvarchar](100) NULL,
	[Password] [varchar](500) NULL,
	[LevelID] [int] NULL,
	[SellerID] [varchar](50) NOT NULL,
	[Counter] [int] NULL,
	[ExpiryDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[Account_status] [varchar](50) NULL,
	[Photo] [varbinary](max) NULL,
	[Photo_Type] [varchar](50) NULL,
	[Email] [varchar](200) NULL,
 CONSTRAINT [PK_agentInfo] PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC,
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[call_history]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[call_history](
	[Conn_Id] [int] NOT NULL,
	[Internal_Case_No] [int] NULL,
	[Call_Type] [varchar](50) NULL,
	[Type_Details] [nvarchar](150) NULL,
	[Is_Saved] [varchar](1) NULL,
	[Reply_Type] [varchar](50) NULL,
	[Reply_Conn_Id] [int] NULL,
	[Reply_Details] [varchar](500) NULL,
	[Conference_Conn_Id] [int] NULL,
	[Updated_By] [int] NULL,
	[Updated_Time] [datetime] NULL,
 CONSTRAINT [PK_call_history] PRIMARY KEY CLUSTERED 
(
	[Conn_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[case_result]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case_result](
	[Internal_Case_No] [int] IDENTITY(10000,1) NOT NULL,
	[Case_No] [int] NULL,
	[Customer_Id] [int] NULL,
	[Attempt] [int] NULL,
	[Conn_Id] [int] NULL,
	[Opened_By] [int] NULL,
	[Opened_Time] [datetime] NULL,
	[Created_By] [int] NULL,
	[Created_Time] [datetime] NULL,
	[Updated_By] [int] NULL,
	[Updated_Time] [datetime] NULL,
	[Call_Type] [varchar](50) NULL,
	[Type_Details] [nvarchar](150) NULL,
	[Call_Link_File] [varchar](max) NULL,
	[Call_Nature] [varchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[Status] [varchar](50) NULL,
	[Remark] [nvarchar](max) NULL,
	[Escalated_To] [int] NULL,
	[Reply_Type] [varchar](50) NULL,
	[Reply_Details] [varchar](500) NULL,
	[Reply_Conn_Id] [varchar](100) NULL,
	[Reply_Call_Result] [varchar](500) NULL,
	[Conference_Conn_Id] [int] NULL,
	[Is_Valid] [varchar](1) NULL,
 CONSTRAINT [PK_case_result] PRIMARY KEY CLUSTERED 
(
	[Internal_Case_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[case_result_log]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case_result_log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Internal_Case_No] [int] NULL,
	[Case_No] [int] NULL,
	[Customer_Id] [int] NULL,
	[Attempt] [int] NULL,
	[Conn_Id] [int] NULL,
	[Opened_By] [int] NULL,
	[Opened_Time] [datetime] NULL,
	[Created_By] [int] NULL,
	[Created_Time] [datetime] NULL,
	[Updated_By] [int] NULL,
	[Updated_Time] [datetime] NULL,
	[Call_Type] [varchar](50) NULL,
	[Type_Details] [nvarchar](150) NULL,
	[Call_Link_File] [varchar](max) NULL,
	[Call_Nature] [varchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[Status] [varchar](50) NULL,
	[Remark] [nvarchar](max) NULL,
	[Escalated_To] [int] NULL,
	[Reply_Type] [varchar](50) NULL,
	[Reply_Details] [varchar](500) NULL,
	[Reply_Conn_Id] [varchar](100) NULL,
	[Reply_Call_Result] [varchar](500) NULL,
	[Conference_Conn_Id] [int] NULL,
	[Is_Valid] [varchar](1) NULL,
 CONSTRAINT [PK_case_result_log] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[config]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config](
	[P_Id] [int] IDENTITY(1,1) NOT NULL,
	[P_Name] [varchar](50) NULL,
	[P_Value] [nvarchar](100) NULL,
 CONSTRAINT [PK_config] PRIMARY KEY CLUSTERED 
(
	[P_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_list]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_list](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Opened_Time] [datetime] NULL,
	[Opened_By] [int] NULL,
	[Created_Time] [datetime] NULL,
	[Created_By] [int] NULL,
	[Updated_Time] [datetime] NULL,
	[Updated_By] [int] NULL,
	[ID_No] [varchar](50) NULL,
	[Name_Chi] [nvarchar](50) NULL,
	[Name_Eng] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[Title] [varchar](10) NULL,
	[Lang] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[Home_No] [varchar](20) NULL,
	[Office_No] [varchar](20) NULL,
	[Mobile_No] [varchar](20) NULL,
	[Fax_No] [varchar](20) NULL,
	[Other_Phone_No] [varchar](20) NULL,
	[Email] [varchar](200) NULL,
	[Address1] [nvarchar](50) NULL,
	[Address2] [nvarchar](50) NULL,
	[Address3] [nvarchar](50) NULL,
	[Address4] [nvarchar](50) NULL,
	[Full_Address] [nvarchar](200) NULL,
	[Occupation] [nvarchar](50) NULL,
	[Photo] [varbinary](max) NULL,
	[Photo_Type] [varchar](50) NULL,
	[Is_Valid] [varchar](1) NULL,
 CONSTRAINT [PK_contact_list] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_list_log]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_list_log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NULL,
	[Opened_Time] [datetime] NULL,
	[Opened_By] [int] NULL,
	[Created_Time] [datetime] NULL,
	[Created_By] [int] NULL,
	[Updated_Time] [datetime] NULL,
	[Updated_By] [int] NULL,
	[ID_No] [varchar](50) NULL,
	[Name_Chi] [nvarchar](50) NULL,
	[Name_Eng] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[Title] [varchar](10) NULL,
	[Lang] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[Home_No] [varchar](20) NULL,
	[Office_No] [varchar](20) NULL,
	[Mobile_No] [varchar](20) NULL,
	[Fax_No] [varchar](20) NULL,
	[Other_Phone_No] [varchar](20) NULL,
	[Email] [varchar](200) NULL,
	[Address1] [nvarchar](50) NULL,
	[Address2] [nvarchar](50) NULL,
	[Address3] [nvarchar](50) NULL,
	[Address4] [nvarchar](50) NULL,
	[Full_Address] [nvarchar](200) NULL,
	[Occupation] [nvarchar](50) NULL,
	[Photo] [varbinary](max) NULL,
	[Photo_Type] [varchar](50) NULL,
	[Is_Valid] [varchar](1) NULL,
 CONSTRAINT [PK_contact_list_log] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facebook_post]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facebook_post](
	[Fb_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ticket_Id] [int] NOT NULL,
	[Created_By] [int] NULL,
	[Created_Time] [datetime] NULL,
	[Updated_By] [int] NULL,
	[Updated_Time] [datetime] NULL,
	[Details] [nvarchar](max) NULL,
	[Media_Type] [nvarchar](100) NULL,
	[Media_Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_FaceBookPost] PRIMARY KEY CLUSTERED 
(
	[Ticket_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field](
	[Field_Category] [nvarchar](50) NOT NULL,
	[Field_Name] [nvarchar](100) NOT NULL,
	[Field_Display] [nvarchar](200) NULL,
	[Field_Tag] [nvarchar](50) NULL,
	[Field_Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_field] PRIMARY KEY CLUSTERED 
(
	[Field_Category] ASC,
	[Field_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field_option]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_option](
	[Field_Name] [varchar](50) NOT NULL,
	[Field_Option] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Field_Option] PRIMARY KEY CLUSTERED 
(
	[Field_Name] ASC,
	[Field_Option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[new_case_no]    Script Date: 6/1/2020 15:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[new_case_no](
	[Case_No] [int] IDENTITY(1,1) NOT NULL,
	[Time_Stamp] [datetime] NULL,
 CONSTRAINT [PK_new_case_no] PRIMARY KEY CLUSTERED 
(
	[Case_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reply_details_history]    Script Date: 6/1/2020 15:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reply_details_history](
	[R_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NULL,
	[Case_No] [int] NULL,
	[Reply_Type] [varchar](50) NULL,
	[Reply_Details] [varchar](500) NULL,
	[Updated_By] [int] NULL,
	[Updated_Time] [datetime] NULL,
 CONSTRAINT [PK_reply_details_history] PRIMARY KEY CLUSTERED 
(
	[R_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 6/1/2020 15:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Companies] [nvarchar](1000) NULL,
	[Categories] [nvarchar](1000) NULL,
	[Functions] [nvarchar](1000) NULL,
	[RoleStatus] [nvarchar](1) NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[agentinfo] ADD  CONSTRAINT [DF_agentInfo_Counter]  DEFAULT ((0)) FOR [Counter]
GO
ALTER TABLE [dbo].[case_result] ADD  CONSTRAINT [DF_case_result_Opened_Time]  DEFAULT (getdate()) FOR [Opened_Time]
GO
ALTER TABLE [dbo].[case_result] ADD  CONSTRAINT [DF_case_result_Created_Time]  DEFAULT (getdate()) FOR [Created_Time]
GO
ALTER TABLE [dbo].[case_result] ADD  CONSTRAINT [DF_case_result_Updated_Time]  DEFAULT (getdate()) FOR [Updated_Time]
GO
ALTER TABLE [dbo].[contact_list] ADD  CONSTRAINT [DF_contact_list_Opened_Time]  DEFAULT (getdate()) FOR [Opened_Time]
GO
ALTER TABLE [dbo].[contact_list] ADD  CONSTRAINT [DF_customer_Created_Time]  DEFAULT (getdate()) FOR [Created_Time]
GO
ALTER TABLE [dbo].[contact_list] ADD  CONSTRAINT [DF_customer_Updated_Time]  DEFAULT (getdate()) FOR [Updated_Time]
GO
